%div#login
  %div.covered
    %h4 ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        メールアドレス
        %br/
        = f.email_field :email, autofocus: true
      .field
        パスワード
        %br/
        = f.password_field :password, autocomplete: "off"
      / - if devise_mapping.rememberable?
      /   .field
      /     = f.check_box :remember_me
      /     = f.label :remember_me
      .actions
        = f.submit "ログイン", class: "button"
      .pass
        %span パスワード、登録情報を忘れてしまった方
    %h4 ユーザー登録されていない方
    .registration
      = submit_tag "クックパッドユーザー登録(無料)", class: "registration-button"

