%div.mainmenu
  %div.mainmenu__left
    %div.mainmenu__left--recipe
      %span.mainmenu__left--recipe--title レシピ関連サービス
      %ul.mainmenu__left--recipe--services
        %li
          = image_tag("knife.jpg",:width => "23",:height => "23",:alt => "knife")
          %span みんなのレシピ
        %li
          = image_tag("book.png",:width => "23",:height => "23",:alt => "book")
          %span プロのレシピ
        %li
          = image_tag("gohan.png",:width => "23",:height => "23",:alt => "gohan")
          %span 献立
        %li
          = image_tag("video.png",:width => "23",:height => "23",:alt => "video")
          %span 料理動画
        %li
          = image_tag("kitchen.png",:width => "23",:height => "23",:alt => "kitchen")
          %span 話題のキッチン
    %div.mainmenu__left--recipe
      %span.mainmenu__left--recipe--title プレミアムサービス
      %ul.mainmenu__left--recipe--services
        %li
          = image_tag("crown.png",:width => "23",:height => "23",:alt => "crown")
          %span 人気順検索
        %li
          = image_tag("ranking.png",:width => "23",:height => "23",:alt => "ranking")
          %span レシピランキング
        %li
          = image_tag("trophy.png",:width => "23",:height => "23",:alt => "trophy")
          %span 殿堂入りレシピ
        %li
          = image_tag("expert.jpeg",:width => "23",:height => "23",:alt => "expert")
          %span 専門家厳選レシピ
        %li
          = image_tag("star.jpeg",:width => "23",:height => "23",:alt => "star")
          %span プレミアム献立
        %li.detail
          %span もっと見る
    %div.mainmenu__left--recipe
      %span.mainmenu__left--recipe--title 生活関連サービス
      %ul.mainmenu__left--recipe--services
        %li
          = image_tag("news.png",:width => "23",:height => "23",:alt => "news")
          %span 料理ニュース
        %li
          = image_tag("home.png",:width => "23",:height => "23",:alt => "home")
          %span 料理教室
        %li
          = image_tag("lesson.png",:width => "23",:height => "23",:alt => "lesson")
          %span 習い事
        %li.detail
          %span もっと見る
  %div.mainmenu__today
    %div.mainmenu__today--image
      = image_tag(avatar_for_recipe_path(id: @recipe.id ), :width => "447",:height => "251",:alt => "sweet", class: "image")
    %div.mainmenu__today--date
      %span= "#{@date.month}月#{@date.day}日の"
      %span.tiny おすすめ
    %div.mainmenu__today--recipe
      %span.title= @recipe.title
      %span.name= @recipe.user.name
  %div.mainmenu__article
    %span.mainmenu__article--title