%div.recipe
  %div.recipe__header
    %div.recipe__header--image
      = image_tag("knife.jpg",:width => "40",:height => "35",:alt => "knife")
    %span.recipe__header--title レシピ
  %div.recipe__category
    %span.recipe__category--title レシピカテゴリ
    %div.recipe__category--list
      %div.recipe__category--list--topic
        %div.recipe__category--list--topic--left
          %div.recipe__category--list--topic--left--image
            = image_tag("au_cake.jpg",:width => "80",:height => "80",:alt => "au_cake", :class => "category-image")
          %div.recipe__category--list--topic--left--title オーストラリアの激あまケーキ
          %div.recipe__category--list--topic--left--body くそあまい
        %div.recipe__category--list--topic--right
          %div.recipe__category--list--topic--right--image
            = image_tag("niku.jpg",:width => "80",:height => "80",:alt => "niku", :class => "category-image")
          %div.recipe__category--list--topic--right--title オーストラリアで食べたステーキ
          %div.recipe__category--list--topic--right--body くそうまい
      %div.recipe__category--list--type
        %ul.recipe__category--list--type--first
          %li.recipe__category--list--type--first--one
            %div.recipe__category--list--type--first--one--image
              = image_tag("vegetable.png",:width => "40",:height => "40",:alt => "vegetable", :class => "vegetable")
            %span.recipe__category--list--type--first--one--title 野菜のおかず
            %ul.recipe__category--list--type--first--one--detail
              %li.recipe__category--list--type--first--one--detail--l1 
                %i.fa.fa-caret-right.fa-lg
                ゴーヤ
              %li.recipe__category--list--type--first--one--detail--l2 ズッキーニ
              %li.recipe__category--list--type--first--one--detail--l3 なす
          %li.recipe__category--list--type--first--one
            %div.recipe__category--list--type--first--one--image
              = image_tag("meat.png",:width => "40",:height => "40",:alt => "meat", :class => "meat")
            %span.recipe__category--list--type--first--one--title お肉のおかず
            %ul.recipe__category--list--type--first--one--detail
              %li.recipe__category--list--type--first--one--detail--l1 鶏むね肉
              %li.recipe__category--list--type--first--one--detail--l2 豚の生姜焼き
              %li.recipe__category--list--type--first--one--detail--l3 鶏のから揚げ
          %li.recipe__category--list--type--first--one
            %div.recipe__category--list--type--first--one--image
              = image_tag("fish.png",:width => "40",:height => "40",:alt => "fish", :class => "fish")
            %span.recipe__category--list--type--first--one--title 魚介のおかず
            %ul.recipe__category--list--type--first--one--detail
              %li.recipe__category--list--type--first--one--detail--l1 鮭・サーモン
              %li.recipe__category--list--type--first--one--detail--l2 イカ
              %li.recipe__category--list--type--first--one--detail--l3 うなぎ
        %ul.recipe__category--list--type--first
          %li.recipe__category--list--type--first--one
            %div.recipe__category--list--type--first--one--image
              = image_tag("rice.png",:width => "40",:height => "40",:alt => "rice", :class => "rice")
            %span.recipe__category--list--type--first--one--title ごはんもの
            %ul.recipe__category--list--type--first--one--detail
              %li.recipe__category--list--type--first--one--detail--l1 
                %i.fa.fa-caret-right.fa-lg
                牛丼
              %li.recipe__category--list--type--first--one--detail--l2 オムライス
              %li.recipe__category--list--type--first--one--detail--l3 ドライカレー
          %li.recipe__category--list--type--first--one
            %div.recipe__category--list--type--first--one--image
              = image_tag("pasta.png",:width => "40",:height => "40",:alt => "pasta", :class => "pasta")
            %span.recipe__category--list--type--first--one--title パスタ・グラタン
            %ul.recipe__category--list--type--first--one--detail
              %li.recipe__category--list--type--first--one--detail--l1 冷製パスタ
              %li.recipe__category--list--type--first--one--detail--l2 カルボナーラ
              %li.recipe__category--list--type--first--one--detail--l3 ミートソース
          %li.recipe__category--list--type--first--one
            %div.recipe__category--list--type--first--one--image
              = image_tag("men.png",:width => "40",:height => "40",:alt => "men", :class => "men")
            %span.recipe__category--list--type--first--one--title 麺
            %ul.recipe__category--list--type--first--one--detail
              %li.recipe__category--list--type--first--one--detail--l1 そうめん
              %li.recipe__category--list--type--first--one--detail--l2 そうめんチャンプルー
              %li.recipe__category--list--type--first--one--detail--l3 冷やしうどん
        %ul.recipe__category--list--type--first
          %li.recipe__category--list--type--first--one
            %div.recipe__category--list--type--first--one--image
              = image_tag("sarada.png",:width => "40",:height => "40",:alt => "sarada", :class => "sarada")
            %span.recipe__category--list--type--first--one--title サラダ
            %ul.recipe__category--list--type--first--one--detail
              %li.recipe__category--list--type--first--one--detail--l1 
                %i.fa.fa-caret-right.fa-lg
                ポテトサラダ
              %li.recipe__category--list--type--first--one--detail--l2 生春巻き
              %li.recipe__category--list--type--first--one--detail--l3 コールスローサラダ
          %li.recipe__category--list--type--first--one
            %div.recipe__category--list--type--first--one--image
              = image_tag("soup.png",:width => "40",:height => "40",:alt => "soup", :class => "soup")
            %span.recipe__category--list--type--first--one--title スープ・汁物
            %ul.recipe__category--list--type--first--one--detail
              %li.recipe__category--list--type--first--one--detail--l1 ラタトゥイユ
              %li.recipe__category--list--type--first--one--detail--l2 トマトスープ
              %li.recipe__category--list--type--first--one--detail--l3 コーンスープ
          %li.recipe__category--list--type--first--one
            %div.recipe__category--list--type--first--one--image
              = image_tag("lunch.png",:width => "40",:height => "40",:alt => "lunch", :class => "lunch")
            %span.recipe__category--list--type--first--one--title お弁当
            %ul.recipe__category--list--type--first--one--detail
              %li.recipe__category--list--type--first--one--detail--l1 作り置き
              %li.recipe__category--list--type--first--one--detail--l2 お弁当のメインおかず
              %li.recipe__category--list--type--first--one--detail--l3 子供が喜ぶ♪
        %ul.recipe__category--list--type--first
          %li.recipe__category--list--type--first--one
            %div.recipe__category--list--type--first--one--image
              = image_tag("reception.png",:width => "40",:height => "40",:alt => "reception", :class => "reception")
            %span.recipe__category--list--type--first--one--title おもてなし料理
            %ul.recipe__category--list--type--first--one--detail
              %li.recipe__category--list--type--first--one--detail--l1 
                %i.fa.fa-caret-right.fa-lg
                夏！おもてなし料理
              %li.recipe__category--list--type--first--one--detail--l2 大皿・メイン料理
              %li.recipe__category--list--type--first--one--detail--l3 子どものパーティ
          %li.recipe__category--list--type--first--one
            %div.recipe__category--list--type--first--one--image
              = image_tag("sweet.png",:width => "40",:height => "40",:alt => "sweet", :class => "sweet")
            %span.recipe__category--list--type--first--one--title お菓子
            %ul.recipe__category--list--type--first--one--detail
              %li.recipe__category--list--type--first--one--detail--l1 ゼリー・寒天
              %li.recipe__category--list--type--first--one--detail--l2 チーズケーキ
              %li.recipe__category--list--type--first--one--detail--l3 クッキー
          %li.recipe__category--list--type--first--one
            %div.recipe__category--list--type--first--one--image
              = image_tag("pan.png",:width => "40",:height => "40",:alt => "pan", :class => "pan")
            %span.recipe__category--list--type--first--one--title パン
            %ul.recipe__category--list--type--first--one--detail
              %li.recipe__category--list--type--first--one--detail--l1 ピザ
              %li.recipe__category--list--type--first--one--detail--l2 サンドイッチ
              %li.recipe__category--list--type--first--one--detail--l3 ホームベーカリー
      %span.recipe__category--list--detail もっと見る