= render 'header'
%div.covered
  %div.upper
    %div.upper__logo
      = image_tag("logo.png",:width => "264",:height => "54",:alt => "logo")
      %span.upper__logo--num 271万
    %div.upper__form-cooking
      = form_tag do
        = text_field_tag :text, nil, placeholder:"料理名・食材名", class: "cooking_form"
        = image_tag("cross.png",:width => "12",:height => "11",:alt => "cross")
        = text_field_tag :text, nil, placeholder:"目的・用途", class: "purpose"
        = submit_tag "レシピ検索", class: "search-button"
    %div.upper__myfolder
      = image_tag("folder.png",:width => "36",:height => "36",:alt => "folder")
      %div.upper__myfolder--name MYフォルダ
    %div.upper__mynews
      = image_tag("mynews.png",:width => "36",:height => "36",:alt => "folder")
      %div.upper__mynews--name MYニュース
    %div.upper__write-recipe
      = submit_tag "レシピを書く", class: "recipe-button"
  %div.contents
    %div.mainmenu
      %div.mainmenu__recipe
      %div.mainmenu__premium-service
      %div.mainmenu__life-relation-service
      %div.mainmenu__today
      %div.mainmenu__article
    %div.recipe
      %div.recipe__header
      %span.recipe__title
      %div.recipe__category
        %div.recipe__category--topic1
        %div.recipe__category--topic2
        %div.recipe__category--vegetable
        %div.recipe__category--meat
        %div.recipe__category--fish
        %div.recipe__category--rice
        %div.recipe__category--pasta
        %div.recipe__category--noodle
        %div.recipe__category--salad
        %div.recipe__category--soup
        %div.recipe__category--lunch
        %div.recipe__category--reception
        %div.recipe__category--sweet
        %div.recipe__category--pan
    %div.kondate
      %div.kondate__header
      %div.kondate__title
      %div.kondate__topic
      %div.kondate__morning
      %div.kondate__lunch
      %div.kondate__dinner
  = render 'footer'
%div.sidebar
  %div.sidebar__title
    %span 最近見たレシピ
  %div.sidebar__history



